<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<!-- Dummy connection string-->
		<add name="WEBNETQA" connectionString="data source=dumy;initial catalog=AspNetDB;user=sa;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="false" targetFramework="4.0">
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx"></forms>
		</authentication>
		<!-- Test membership and role providers-->
		<membership defaultProvider="QAMembers">
			<providers>
				<add name="QAMembers" type="Mvc.QA.StandAloneMembershipProvider" connectionStringName="WEBNETQA" enablePasswordRetrieval="true" enablePasswordReset="false" requiresQuestionAndAnswer="false" applicationName="/LoginApp" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="10000" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0"/>
			</providers>
		</membership>
		<trust level="Medium"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<location path="Home.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
